:root {
  --background: #2a2a2a;

  --ion-color-primary: #adadad;
  --ion-color-primary-rgb: 83, 110, 145; /* Usado para certos efeitos de sombra, transições, etc. */
  --ion-color-primary-contrast: #ffffff;  /* Cor do texto para contraste */

  --ion-color-secondary: #D1A13C;
  --ion-color-secondary-rgb: 209, 161, 60;
  --ion-color-secondary-contrast: #ffffff;

  --ion-color-tertiary: #F2CFC2;
  --ion-color-tertiary-rgb: 242, 207, 194;
  --ion-color-tertiary-contrast: #000000;

  --ion-background-color: var(--background);  // Usando a cor definida para o fundo
  --ion-color-background: var(--background);

  --ion-text-color: #ffffff;  // Cor do texto padrão (preto)
  --ion-color-text: #000000;  // Usada em botões e componentes

  --ion-color-light: #F4F4F4; // Exemplo de cor clara para alguns componentes
  --ion-color-dark: #2C2C2C;  // Cor escura para alguns elementos

  --ion-statusbar-background-color: var(--ion-color-primary);

  --ion-border-color: rgba(105, 105, 105, 0.12);  // Cor para bordas
  --ion-border-radius: 4px;  // Borda arredondada para os componentes
}

body {
  --background-color: var(--background);
  background-color: var(--background);
}

ion-header {
  --background: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast); /* Texto claro sobre fundo primário */
}

ion-item {
  --background: var(--background); /* Definindo a cor de fundo para items */
}

ion-card {
  --background: var(--background);
}
